.title {
    color: greenyellow;
}

.section {
    background-color: rgb(174, 181, 145);
}

#email {
    background-color: aquamarine;
}
#github {
    background-color: rgb(99, 163, 124);
}
#portfolio {
    background-color: chartreuse;
}

