body {
    background-color:skyblue;
}

.fade-background {
    background-color: rgba(98, 167, 167, 0.696);
    line-height: 100px;
    width: 100%;
    height: 100px;
    color: darkblue;
}

.figure {
    width: 200px;
    background-color: rgb(147, 196, 253);
}

.text {
    font-weight: bolder;
    font-size: medium;
}

.section {
    background-color: cornflowerblue;
    font-size: large;
}
.contact::first-letter {
   font-size: 40px ;
   color: rgb(7, 74, 74);
}
.student::first-letter {
    font-size: 45px;
    color: rgb(17, 17, 90);
}